<!DOCTYPE html>
{% extends "bmw/base.html" %}
{% load static %}

{% block title %}
Fugro
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'bmw/css/home_style.css' %}">

<section class="background">
    <div class="spacer"></div>
<div class="app">BMW</div>
    <div class="link-section">
        <a class="pic_link" href="{% url 'jelkod' %}">
            <div class="promo" style="--overlay-color: yellow">
              <div class="image-wrapper">
                  <img src="{% static 'bmw/images/jelkod.jpg' %}"/>
              </div>
              <h2 class="title" data-cta="tovább →">Jelkód</h2>
            </div>
        </a>

        <a class="pic_link" href="{% url 'buildings' %}">
            <div class="promo" style="--overlay-color: hotpink">
              <div class="image-wrapper">
                  <img src="{% static 'bmw/images/buildings.jpg' %}"/>
              </div>
              <h2 class="title" data-cta="tovább →">Épületek</h2>
            </div>
        </a>

        <a class="pic_link" href="{% url 'quickreport' %}">
            <div class="promo" style="--overlay-color: SpringGreen">
              <div class="image-wrapper">
                  <img src="{% static 'bmw/images/quickreport.jpg' %}"/>
              </div>
              <h2 class="title" data-cta="tovább →">Gyorsjelentés</h2>
            </div>
        </a>
        </div>

    <div class="app">Şişecam</div>
    <div class="link-section">
        <a class="pic_link" href="{% url 'sisecam_buildings' %}">
            <div class="promo" style="--overlay-color:  Turquoise">
              <div class="image-wrapper">
                  <img src="{% static 'bmw/images/sisecam_buildings.jpg' %}"/>
              </div>
              <h2 class="title" data-cta="tovább →">Épületek</h2>
            </div>
        </a>

        </div>

    <div class="app">Beosztás</div>
    <div class="link-section">
        <a class="pic_link" href="{% url 'calendar' year=year month=month %}">
            <div class="promo" style="--overlay-color:  DarkGoldenrod">
              <div class="image-wrapper">
                  <img src="{% static 'bmw/images/calendar.jpg' %}"/>
              </div>
              <h2 class="title" data-cta="tovább →">Munkaidő</h2>
            </div>
        </a>

        {% if user.is_staff %}
       <a class="pic_link" href="{% url 'admin' year=year month=month %}">
        <div class="promo" style="--overlay-color:  LightCoral">
          <div class="image-wrapper">
              <img src="{% static 'bmw/images/background.jpg' %}"/>
          </div>
          <h2 class="title" data-cta="tovább →">Admin</h2>
        </div>
        </a>
        {% endif %}
        </div>
</section>

{% endblock %}
